@keyframes flicker {
  0% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1); /* очень темный цвет фона с прозрачностью 0.1 */
  }

  50% {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5); /* более темный цвет фона с прозрачностью 0.5 */
  }

  100% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1); /* очень темный цвет фона с прозрачностью 0.1 */
  }
}

.lighting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 20%, rgba(0, 0, 0, 0.8) 80%);
  pointer-events: none;
  margin: 0; /* удалить отступы по умолчанию */
  padding: 0; /* удалить отступы по умолчанию */
  background-image: url('/assets/images/Wall.jpg'); /* замените путь к изображению на ваше собственное */
  background-size: cover; /* установить размер фона как обложка */
  background-repeat: no-repeat; /* отключить повторение фона */
}

.chandelier {
  position: fixed;
  width: 150px;
  height: 150px;
  background-image: url('/assets/images/chandelier.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.chandelier-left {
  position: absolute;
  top: 100%;
  left: 300px; /* Измените значение left по своему усмотрению */
  transform: translate(-50%, -50%) rotate(0deg);
  width: 200px;
  height: 200px;
}

.chandelier-right {
  position: absolute;
  top: 100%;
  right: 300px; /* Измените значение right по своему усмотрению */
  transform: translate(50%, -50%) rotate(0deg);
  width: 200px;
  height: 200px;
}



.spider-web {
  position: fixed;
  width: 150px;
  height: 150px;
  background-image: url('/assets/images/web.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.web-top-left {
  top: 10px;
  left: 10px;
  transform: rotate(0deg);
}

.web-bottom-left {
  bottom: 10px;
  left: 10px;
  transform: rotate(-90deg);
}

.web-bottom-right {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);

}


.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 200px;
  margin-right: 60px;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 600px;
  height: 600px;
  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* тени */
  margin-top: 100px;
  margin-right: 60px;
}

.chess-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: transparent; /* удаление яркого подсвечивания */
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8)); /* тени */
}


.chess-cell-inner {
  width: 80px;
  height: 80px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8)); /* усиленные тени */
}

title {
  margin-top: -720px;
}

.title img {
  margin-top: -20px;
  width: 200px;
  height: 80px;
}

.colortext {
  font-weight: 1000;
  background-color: #ff7000;
  color: black;
  border-radius: 5px;
  height: 1px;
  font-size: 47px;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 200vh;
  max-height: 999vh;
  background-image: url('/assets/images/Wall.jpg');
}

/* Медиа-запрос для устройств с максимальной шириной 400 пикселей (смартфоны) */
@media (max-width: 400px) {
  .container {
    margin-top: -50px;
  }
  .chess-board {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-right: 15px;
  }

  .chess-cell-inner {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .chandelier-left,
  .chandelier-right {
    width: 70px;
    height: 70px;
  }

  .web-top-left,
  .web-bottom-left,
  .web-bottom-right {
    width: 70px;
    height: 70px;
  }
}

/* Медиа-запрос для устройств с максимальной шириной 600 пикселей (мобильные устройства) */
@media (max-width: 600px) {
  .container {
    margin-top: -200px;
  }
  .chess-board {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-right: 15px;
  }

  .chess-cell-inner {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .chandelier-left,
  .chandelier-right {
    width: 100px;
    height: 100px;
    margin-top: -270px;
  }

  .web-top-left,
  .web-bottom-left,
  .web-bottom-right {
    width: 100px;
    height: 100px;
  }
}
