<div class="chess-board">
  <div class="chess-cell"
       *ngFor="let cell of chessBoard"
       [class.selected]="cell === selectedCell"
       [style.background-color]="cell.color"
       (click)="selectCell(cell)"
       (dragstart)="startDrag($event, cell)"
       (dragover)="dragOver($event)"
       (drop)="drop($event, cell)"
       draggable="true"
       (dblclick)="showTooltip(cell)">
    <div class="chess-piece" [ngClass]="getChessPieceClass(cell)">
      <div class="chess-cell-inner">
        <span>{{ cell.piece }}</span>
      </div>
    </div>
  </div>
</div>

<!-- Всплывающее окно с параметрами фигуры -->
<div class="tooltip" *ngIf="isTooltipVisible">
  <ng-container *ngIf="tooltipData">
    <div class="tooltip-content">
      <div class="tooltip-name">{{ tooltipData.name }}</div>
      <div class="tooltip-health">Health: {{ tooltipData.health }}</div>
    </div>
  </ng-container>
</div>

<h1 class="title">
  <img src="/assets/images/DnD.jpg" alt="Картинка DnD">
  <span class="colortext">hub</span>
</h1>
