.telegram-container {
  position: absolute;
  left: 0;
  top: 0; /* прижимаем к верхнему краю экрана */
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.telegram-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2c3e50; /* Темно-синий цвет */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.telegram-header-title {
  flex-grow: 1;
  font-size: 25px;
  margin-left: 10px;
  font-weight: bold;
  color: #ecf0f1; /* Светло-серый цвет текста */
}

.telegram-header-options i {
  margin-left: 10px;
  color: #7f8c8d; /* Серый цвет иконок */
}

.telegram-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  font-size: 25px;
}


.telegram-message-content {
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 15px;
}

.telegram-message.sent .telegram-message-content {
  background-color: #1c1c1c; /* Зеленый цвет для отправленных сообщений */
  color: #ecf0f1; /* Светло-серый цвет текста для отправленных сообщений */
  align-self: flex-end;
}

.telegram-message.received .telegram-message-content {
  background-color: #3498db; /* Синий цвет для полученных сообщений */
  color: #ecf0f1; /* Светло-серый цвет текста для полученных сообщений */
  align-self: flex-start;
}

.telegram-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2c3e50; /* Темно-синий цвет фона */
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.telegram-input-field input {
  width: 90vw;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: #34495e; /* Темно-серый цвет для поля ввода */
  color: #ecf0f1; /* Светло-серый цвет текста для поля ввода */
}

.telegram-input-actions i {
  margin-right: 10px;
  color: #7f8c8d; /* Серый цвет иконок */
}

.telegram-input-send {
  width: 5vw;
  background-color: #2980b9; /* Синий цвет для кнопки отправки */
  color: #ecf0f1; /* Светло-серый цвет текста для кнопки отправки */
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}
